<footer class="footer">   
    <div class="container">
      <div class="banner">
        <div class="banner__content">
          <h1>BANNER</h1>
        </div>
      </div>
      <nav class="footer-menu">
        <ul>
          <li class="footer-menu__copyright">&copy; 2018 AllCoinStat</li>
          <li class="footer-menu__item"><a href="#">About</a></li>
          <li class="footer-menu__item"><a href="#">About</a></li>
          <li class="footer-menu__item"><a href="#">About</a></li>
          <li class="footer-menu__item"><a href="#">About</a></li>
        </ul>
      </nav>  
    </div>
  </footer>