<header class="header">
    <div class="banner">
      <div class="banner_pink">
        <h1>BANNER</h1>
      </div>
    </div>
    <div class="container">
      <div class="info-block">
        <nav class="info-block__navbar">
          <ul>
            <li class="info-block__logo"><a href="#"><img src="img/logo.svg"></a></li>
            <li class="info-block__item col">
              <span class="info-block__item__title">Market cap</span>
              <a class="info-block__item__value" href="#">$150B</a>
            </li>
            <li class="info-block__item col">
              <span class="info-block__item__title">24H Volume</span>
              <a class="info-block__item__value" href="#">$150B</a>
            </li>
            <li class="info-block__item col">
              <span class="info-block__item__title">BTC dominance</span>
              <a class="info-block__item__value" href="#">$150B</a>
            </li>
            <li class="info-block__log"><a href="#" @click="open('signIn')">sign in</a> / <a href="#" @click="open('signUp')">sign up</a></li>
            <input class="form-input info-block__input" type="email" name="email" placeholder="Search coins" />
          </ul>
        </nav>
      </div>

      <div class="top-header">
        <h1>CryptoCurrency Market</h1>
      </div>

      <div class="top-menu">
        <nav class="top-menu__navbar">
          <ul>
            <li class="top-menu__item"><a href="#">Growing</a></li>
            <li class="top-menu__item"><a href="#">Falling</a></li>
            <li class="top-menu__item"><a href="#">Arbitrage</a></li>
            <li class="top-menu__item"><a href="#">Exchanges</a></li>
            <li class="top-menu__item"><a href="#">Whatchlist</a></li>
            <li class="top-menu__item"><a href="#">Forum</a></li>
            <li class="top-menu__item"><a href="#">Portfolio</a></li>
            <li class="top-menu__item"><a href="#">Alerts</a></li>
          </ul>
        </nav>
      </div><!-- end top menu -->
      <div class="banner">
        <div class="banner__content">
          <h1>BANNER</h1>
        </div>
      </div>
    </div><!-- end container -->
  </header>