<!-- Google Tag Manager (noscript) -->
  <noscript>&lt;iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GR7KH"
  height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script>
    var window.siteLang = 'en';
  </script>
  <!-- Yandex.Metrika counter -->
  <script src="js/metrika.js"></script>
  <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/46225212" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
  <!-- /Yandex.Metrika counter -->