<transition name="modal" mode="out-in">
<modal v-if="showModal === 'signIn'" @close="close()" key="modal1">
    <h3 slot="header">Sign in</h3>

    <form slot="form">
      <div class="modal__main">
        <div class="modal__signup-api">
          <button class="btn btn_red">Login with Google</button>
          <button class="btn btn_blue">Login with Facebook</button>
        </div>
        <p class="modal__or">or</p>
        <input type="email" name="email" class="form-input" placeholder="Email address">
        <input type="password" name="password" class="form-input" placeholder="Password">
        <button class="btn btn_light-blue">Sign in</button>
      </div>
    </form>

    <footer class="modal__footer" slot="footer">
      <a href="#">Forgot you password</a>
      <p>Do not have an account? <a href="#" @click="open('signUp')">Create now</a></p> 
    </footer>  

  </modal>

  <modal v-if="showModal === 'signUp'" @close="close()" key="modal2">
    <h3 slot="header">Sign Up</h3>
    <form slot="form">
      <div class="modal__main">
        <div class="modal__signup-api">
          <button class="btn btn_red">Sign up with Google</button>
          <button class="btn btn_blue">Sign up with Facebook</button>
        </div>
        <p class="modal__or">or</p>
        <input type="email" name="email" class="form-input" placeholder="Email address">
        <input type="password" name="password" class="form-input" placeholder="Password">
        <input type="password" name="password" class="form-input" placeholder="Password again">
        <button class="btn btn_light-blue">Sign up</button>
      </div>
    </form>

  </modal>

  <modal v-if="showModal === 'addCoin'" @close="close()" key="modal3" class="modal__add-coin">
    <h3 slot="header">Choose coin and add to the watchlist</h3>

    <form slot="form">
      <div class="modal__main modal__main_whathlist">        
        <div class="modal__main__input">
          <v-select :options="options" label="title">
            <template slot="options" slot-scope="options">
              <span class="short">{{ option.short }}</span>
              {{ option.title }}
            </template>
          </v-select></div>
        <button class="btn">Add coin</button>
      </div>
    </form>
  </modal>
</transition>