<script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery-ui.js"></script>
  <script type="text/javascript" src="assets/js/js.js"></script>
  <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
  <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>

  <script src="assets/js/vue.js"></script>
  <script src="assets/js/vue-select.js"></script>
  <script src="assets/js/script.js"></script>