.main-content__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
}
.modal__main_whathlist {
  display: flex;
  align-items: center;
  .btn {
    max-width: 200px;
  }
  .modal__main__input {
    width: 100%;
    margin-right: 20px;
  }
}
.modal__add-coin {
  .modal__container {
    max-width: 600px;
    width: 600px;
  }
}