/* 
*
  ========================================================================== 
  Styles
  ========================================================================== 
*
*/
:root {
  --blue-color: #388dfe;
  --black-color: #000;
  --light-gray-color: #a8b2b9;
  --dark-gray-color: #404040;
  --red-color: #ff5555;
  --green-color: #20dc86;  
  --light-color: #efefef;
}