$font-size-base: 1rem;

@function font-size($size) {
  @return ($size/16) * $font-size-base;
}

$font-size-14: font-size(14);
$font-size-15: font-size(15);
$font-size-18: font-size(18);
$font-size-20: font-size(20);
$font-size-22: font-size(22);
$font-size-24: font-size(24);
$font-size-28: font-size(28);
$font-size-32: font-size(32);
$font-size-40: font-size(40);
