.list {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  list-style: none; 
  margin: 0;
  padding: 0;
  max-width: 230px;
  padding: 8px 18px;
  font-size: $font-size-15;

  margin-bottom: 50px;
}
.list__item {  
  padding: 10px 0;
}
.list__item__icon {
  vertical-align: top;
  margin-right: 8px;
}
.list__item__short-name {
  margin-right: 18px;
  color: var(--light-gray-color);
}