.tag,
.tag:visited {
  font-weight: bold;
  transition: .3s all ease;
  padding: 6px 10px;
  border-radius: 100px;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.tag:hover,
.tag:focus {
  color: #fff;
  background-color: var(--blue-color);
}