---
layout: default
---
<div class="container main-content">
    <div class="main-content__top-content">
      <h2>Watchlist</h2>
      <button class="top-content__btn btn" @click="open('addCoin')">+ Add coin</button>
    </div>
    <div class="table-main">
      <div class="table-main-row th-row">
        <div class="table-main-row-th num">№</div>
        <div class="table-main-row-th icon"></div>
        <div class="table-main-row-th name">Name</div>
        <div class="table-main-row-th market-cap" data-sort="market-cap">Market Cap</div>
        <div class="table-main-row-th price" data-sort="price">Price</div>
        <div class="table-main-row-th volume-24h" data-sort="volume">Volume (24h)</div>
        <div class="table-main-row-th p-1h" data-sort="p1h">% 1h</div>
        <div class="table-main-row-th p-24h" data-sort="p24h">% 24h</div>
        <div class="table-main-row-th p-7h" data-sort="p7d">% 7d</div>
        <div class="table-main-row-th sale">Sale</div>
      </div>
      <row></row>
      <row></row>
      <row></row>
      <row></row>
      <row></row>
    </div>
    <button class="btn btn-view">View all</button>

  </div><!-- end main content -->