nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 767.99px) {
  .top-menu__navbar ul {
    flex-direction: column;
  }
}