@mport url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic);
body {
  font-family: Roboto, sans-serif;
} 
html {
  font-size: 16px;
}
p {
  margin: 0 0 1rem 0;
  font-size: $font-size-15;
  line-height: 1.7;
  color: var(--dark-gray-color);
}

h1 { font-size: $font-size-32; }
h2 { font-size: $font-size-22; }
h3 { font-size: $font-size-22; }
h4 { font-size: $font-size-18; }
h5 { font-size: $font-size-base; }
h6 { font-size: $font-size-base; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-gray-color);  
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: normal;
}
h1 {
  margin-bottom: 1.5rem;
}
h2 {
  margin-bottom: 1.125rem;
}
h3 {
  margin: 0;
}
h4,
h5,
h6 {
  margin: 0 0 .5rem 0;
}
a {
  text-decoration: none;
  transition: .5s all ease;
  cursor: pointer;
}
a,
a:visited,
a:active, {
  color: inherit;
}
a:hover,
a:focus {
  color: var(--blue-color);
}
